*{
  font-family:helvetica, sans-serif;
}

h1{
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  background-color: inherit;
  font-size: 100px;
  font-weight: bold;
  color:khaki;
  text-align: center;
  margin-bottom: 70px;
  margin-top:70px;
}

h2{
  font-size: 32px;
  font-weight: bold;
  color:white;
}

strong{
  color:blue;
}

#brushes{
  background:mediumspringgreen;
}

#frames{
  background:lightcoral;
}

#paints{
  background:skyblue;
}
